appdirs==1.4.3
arabic-reshaper==2.1.1
asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
Click==7.0
distlib==0.3.0
Django==3.0.3
django-crum==0.7.9
django-widget-tweaks==1.4.8
filelock==3.0.12
Flask==1.1.1
future==0.18.2
html5lib==1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
keyboard==0.13.4
MarkupSafe==1.1.1
numpy==1.18.1
opencv-contrib-python==4.2.0.32
opencv-python==4.2.0.32
Pillow==7.0.0
psycopg2==2.8.4
PyPDF2==1.26.0
python-bidi==0.4.2
pytz==2019.3
reportlab==3.5.55
requests==2.22.0
six==1.14.0
sqlparse==0.3.0
urllib3==1.25.8
virtualenv==20.0.1
webencodings==0.5.1
Werkzeug==1.0.0
xhtml2pdf==0.2.5
