{% extends 'index.html' %}
{% load static %}
{% block body %}
    <body>

{#    <!-- Argon Scripts -->#}
{#    <!-- Core -->#}
{#    <script src="{% static 'lib/assets/vendor/jquery/dist/jquery.min.js' %}"></script>#}
{#    <script src="{% static 'lib/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>#}
{#    <script src="{% static 'lib/assets/vendor/js-cookie/js.cookie.js' %}"></script>#}
{#    <script src="{% static 'lib/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js' %}"></script>#}
{#    <script src="{% static 'lib/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js' %}"></script>#}
{#    <!-- Optional JS -->#}
{#    <script src="{% static 'lib/assets/vendor/chart.js/dist/Chart.min.js' %}"></script>#}
{#    <script src="{% static 'lib/assets/vendor/chart.js/dist/Chart.extension.js' %}"></script>#}
{#    <!-- Argon JS -->#}
{#    <script src="{% static 'lib/assets/js/argon.js' %}"></script>#}



    </body>
    
    

{% endblock %}