{#{% extends 'base/body.html' %}#}

{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block head %}
    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>

    {#    select2#}
    {#    <link rel="stylesheet" href="{% static 'lib/assets/vendor/select2/dist/css/select2.min.css' %}">#}

{% endblock %}
{% block content %}
    <form method="post" action="." enctype="multipart/form-data">

        <div class="card">
            <div class="card-body">
                <h2 class="card-title p-0">{{ title }}</h2>
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">

                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                        <span class="alert-text"><strong>Danger!</strong> Ha ocurrido un error</span>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {% endif %}


                {#                {% for field in form.visible_fields %}#}
                {#                    <div class="form-group">#}
                {#                        <label for="email">{{ field.label }}:</label>#}
                {#                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}#}
                {#                        {{ field }}#}
                {#                    </div>#}
                {#                {% endfor %}#}


                <div class="row" wfd-id="14">
                    <div class="col-xl-3 order-xl-1" wfd-id="56">
                        <div class="card card-profile" wfd-id="57">
                            <img src="{% static 'lib/assets/img/theme/img-1-1000x600.jpg' %}" alt="Image placeholder"
                                 class="card-img-top">
                            <div class="row justify-content-center" wfd-id="78">
                                <div class="col-lg-3 order-lg-2" wfd-id="79">
                                    <div class="card-profile-image" wfd-id="80">
                                        {% if object.insImagen %}
                                            <img src="{{ object.insImagen.url }}"
                                                 style="height: 150px; width: 250px"
                                                 class="rounded-circle cambiar">
                                        {% else %}
                                            <img src="{% static 'img/empty.png' %}"
                                                 style="height: 150px; width: 250px"
                                                 class="rounded-circle cambiar">

                                        {% endif %}
                                        {#                                        </a>#}
                                    </div>
                                </div>
                            </div>
                            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4" wfd-id="76">
                                <div class="d-flex justify-content-between" wfd-id="77">
                                    {#                                    <a href="#" class="btn btn-sm btn-info  mr-4 ">Connect</a>#}
                                    {#                                    <a href="#" class="btn btn-sm btn-default float-right">Message</a>#}
                                </div>
                            </div>

                            <div class="card-body pt-0" wfd-id="58">
                                <div class="row" wfd-id="64">
                                    <div class="col" wfd-id="65">
                                        <div class="card-profile-stats d-flex justify-content-center" wfd-id="66">
                                            {#                                            <div wfd-id="73">#}
                                            {#                                                <span class="heading" wfd-id="75">22</span>#}
                                            {#                                                <span class="description" wfd-id="74">Friends</span>#}
                                            {#                                            </div>#}
                                            {#                                            <div wfd-id="70">#}
                                            {#                                                <span class="heading" wfd-id="72">10</span>#}
                                            {#                                                <span class="description" wfd-id="71">Photos</span>#}
                                            {#                                            </div>#}
                                            {#                                            <div wfd-id="67">#}
                                            {#                                                <span class="heading" wfd-id="69">89</span>#}
                                            {#                                                <span class="description" wfd-id="68">Comments</span>#}
                                            {#                                            </div>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center" wfd-id="59">
                                    <div id="files">

                                        {{ form.insImagen|add_class:"custom-file-input" }}
                                    </div>
                                     <input type="button" value="Subir Archivo" class="btn btn-primary"
                                   onclick="document.getElementById('id_insImagen').click()">
                                    {#                                    <h5 class="h3">#}
                                    {#                                        Jessica Jones<span class="font-weight-light" wfd-id="63">, 27</span>#}
                                    {#                                    </h5>#}
                                    {#                                    <div class="h5 font-weight-300" wfd-id="62">#}
                                    {#                                        <i class="ni location_pin mr-2"></i>Bucharest, Romania#}
                                    {#                                    </div>#}
                                    {#                                    <div class="h5 mt-4" wfd-id="61">#}
                                    {#                                        <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim#}
                                    {#                                        Officer#}
                                    {#                                    </div>#}
                                    {#                                    <div wfd-id="60">#}
                                    {#                                        <i class="ni education_hat mr-2"></i>University of Computer Science#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-9 order-xl-2" wfd-id="15">
                        <div class="card" wfd-id="16">
                            {#                            <div class="card-header" wfd-id="52">#}
                            {#                                <div class="row align-items-center" wfd-id="53">#}
                            {#                                    <div class="col-8" wfd-id="55">#}
                            {#                                        <h3 class="mb-0">Edit profile </h3>#}
                            {#                                    </div>#}
                            {#                                    <div class="col-4 text-right" wfd-id="54">#}
                            {#                                        <a href="#!" class="btn btn-sm btn-primary">Settings</a>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            <div class="card-body" wfd-id="17">
                                <form wfd-id="18">
                                    <h6 class="heading-small text-muted mb-4">Informacion del Insumo</h6>
                                    <div class="pl-lg-4" wfd-id="37">
                                        <div class="row" wfd-id="45">
                                            <div class="col-lg-6" wfd-id="42">
                                                <div class="form-group" wfd-id="43">
                                                    <label class="form-control-label" for="input-first-name"
                                                           wfd-id="44">Nombre</label>
                                                    {#                                                    <input type="text" id="input-first-name" class="form-control"#}
                                                    {#                                                           placeholder="First name" value="Lucky" wfd-id="149">#}
                                                    {{ form.insDescripcion }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6" wfd-id="39">
                                                <div class="form-group" wfd-id="40">
                                                    <label class="form-control-label" for="input-last-name" wfd-id="41">Modelo</label>
                                                    {#                                                    <input type="text" id="input-last-name" class="form-control"#}
                                                    {#                                                           placeholder="Last name" value="Jesse" wfd-id="148">#}
                                                    {{ form.insModelo }}
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row" wfd-id="38">
                                            <div class="col-lg-6" wfd-id="49">
                                                <div class="form-group" wfd-id="50">
                                                    <label class="form-control-label" for="input-username" wfd-id="51">Codigo</label>
                                                    {#                                                    <input type="text" id="input-username" class="form-control"#}
                                                    {#                                                           placeholder="Username" value="lucky.jesse" wfd-id="151">#}
                                                    {{ form.insCod }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6" wfd-id="46">
                                                <div class="form-group" wfd-id="47">
                                                    <label class="form-control-label" for="input-email" wfd-id="48">Stock</label>
                                                    {#                                                    <input type="text" id="input-email" class="form-control"#}
                                                    {#                                                           placeholder="jesse@example.com" wfd-id="150"#}
                                                    {#                                                           kl_ab.original_type="email">#}
                                                    {{ form.insStock }}
                                                </div>
                                            </div>

                                            <div class="col-lg-6" wfd-id="39">
                                                <div class="form-group" wfd-id="40">
                                                    <label class="form-control-label" for="input-last-name" wfd-id="41">Precio</label>
                                                    {#                                                    <input type="text" id="input-last-name" class="form-control"#}
                                                    {#                                                           placeholder="Last name" value="Jesse" wfd-id="148">#}
                                                    {{ form.insPrecio }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6" wfd-id="39">
                                                <div class="form-group" wfd-id="40">
                                                    <label class="form-control-label" for="input-last-name" wfd-id="41">Medida</label>
                                                    {#                                                    <input type="text" id="input-last-name" class="form-control"#}
                                                    {#                                                           placeholder="Last name" value="Jesse" wfd-id="148">#}
                                                     {{ form.medida|add_class:"form-control mySelect2" }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6" wfd-id="39">
                                                <div class="form-group" wfd-id="40">
                                                    <label class="form-control-label" for="input-last-name" wfd-id="41">Categoria</label>
                                                    {#                                                    <input type="text" id="input-last-name" class="form-control"#}
                                                    {#                                                           placeholder="Last name" value="Jesse" wfd-id="148">#}
                                                     {{ form.categoria|add_class:"form-control mySelect2" }}
                                                    {{ form.insEstado|attr:'type:hidden'|attr:'value:True' }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
{#                    <div class="col-lg-12">#}
{##}
{##}
                        {#                        <figure class="figure">#}
{##}
{#                        <div>#}
{#                            {% if object.insImagen %}#}
{#                                <img src="{{ object.insImagen.url }}" class="img-fluid img-center img-thumbnail cambiar"#}
{#                                     style="height: 300px; width: 350px" id="cambiar">#}
{#                            {% else %}#}
{#                                <img src="{% static 'img/Imagen.png' %}"#}
{#                                     class="img-fluid img-center img-thumbnail cambiar"#}
{#                                     style="height: 300px; width: 350px" id="cambiar">#}
{#                            {% endif %}#}
{#                        </div>#}
{##}
{##}
                        {#                        </figure>#}
{##}
                        {#                        <div class="custom-file">#}
{#                        <div class="" id="files">#}
                            {#                            <input type="file" class="custom-file-input" id="customFileLang" lang="en">#}
{##}
{#                            {{ form.insImagen|add_class:"custom-file-input" }}#}
                            {#                            <label class="custom-file-label" for="id_insImagen">Select file</label>#}
{#                        </div>#}
{#                        <center>#}
{#                            <input type="button" value="Subir Archivo" class="btn btn-primary"#}
{#                                   onclick="document.getElementById('id_insImagen').click()">#}
{#                        </center>#}
{##}
{##}
                        {#                        {{ form.insImagen }}#}
                        {#                        <h1>aa {{object.insImagen.url}}</h1>#}
{##}
{#                    </div>#}

{#                    <div class="col-md-6">#}
{#                        <div class="form-group">#}
{#                            <br>#}
{#                            <label for="id_insDescripcion">Nombre:</label>#}
{##}
{#                            {{ form.insDescripcion }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        <div class="form-group">#}
{#                            <br>#}
{#                            <label for="id_insModelo">Modelo:</label>#}
{##}
{#                            {{ form.insModelo }}#}
{#                        </div>#}
{#                    </div>#}

{#                    <div class="col-md-6">#}
{#                        <div class="form-group">#}
{#                            <label for="id_insCod">Codigo:</label>#}
{##}
{#                            {{ form.insCod }}#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        <div class="form-group">#}
{#                            <label for="id_cliDireccion">Stock:</label>#}
                            {#                            {{ form.insStock|add_class:"form-control" }}#}
{#                            {{ form.insStock }}#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        <div class="form-group">#}
{#                            <label for="id_insPrecio">Precio:</label>#}
                            {#                            {{ form.insPrecio|add_class:"form-control" }}#}
{#                            {{ form.insPrecio }}#}
                            {#                            <input type="text" value="0.00"  data-mask="00/00/0000">#}
{#                        </div>#}
{#                    </div>#}
                    {#                    <div class="col-md-6">#}
                    {#                        <div class="form-group">#}
                    {#                            <label for="id_cliDireccion">Iva:</label>#}
                    {#                            {{ form.insIva|add_class:"form-control" }}#}
                    {#                        </div>#}
                    {#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        <div class="form-group">#}
{#                            <label for="id_cliGenero">Medida</label>#}
                            {#                            <input class="select2">#}
{##}
{#                            {{ form.medida|add_class:"form-control mySelect2" }}#}
{##}
{#                            </select>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                    <div class="col-md-6">#}
{#                        <div class="form-group">#}
{#                            <label for="id_cliGenero">Categoria</label>#}
                            {#                            <input type="text" class="select2-container">#}
                            {#                            <label for="exampleFormControlSelect1 ">Example select</label>#}
                            {#                            <select class="form-control select2-selection--multiple" id="exampleFormControlSelect1">#}
                            {#                                <option>1</option>#}
                            {#                                <option>2</option>#}
                            {#                                <option>3</option>#}
                            {#                                <option>4</option>#}
                            {#                                <option>5</option>#}
                            {#                            </select>#}
{##}
{#                            {{ form.categoria|add_class:"form-control mySelect2" }}#}
{#                            {{ form.insEstado|attr:'type:hidden'|attr:'value:True' }}#}
{##}
                            {#                            </select>#}
{#                        </div>#}
{##}
{#                    </div>#}

                    {#                    <div class="" style="width: 100%">#}
                    {#                        <div class="col-6">#}
                    {#                            <label for="exampleFormControlSelect1">Example select</label>#}
                    {#                            <select class="form-control " id="exampleFormControlSelect2">#}
                    {#                                <option>1</option>#}
                    {#                                <option>2</option>#}
                    {#                                <option>3</option>#}
                    {#                                <option>4</option>#}
                    {#                                <option>5</option>#}
                    {#                                <option>1</option>#}
                    {#                                <option>2</option>#}
                    {#                                <option>3</option>#}
                    {#                                <option>4</option>#}
                    {#                                <option>5</option>#}
                    {#                            </select>#}
                    {#                        </div>#}
                    {#                        <div class="col-md-6">#}
                    {#                            <select class="form-control mySelect2" data-toggle="select" title="Simple select"#}
                    {#                                    data-live-search="true" data-live-search-placeholder="Search ...">#}
                    {#                                <option>Alerts</option>#}
                    {#                                <option>Badges</option>#}
                    {#                                <option>Buttons</option>#}
                    {#                                <option>Cards</option>#}
                    {#                                <option>Forms</option>#}
                    {#                                <option>Modals</option>#}
                    {#                            </select>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {#                    <div class="text-blue" data id="conte" style="width: 100%">#}
                    {#                        <select data-toggle="select" data-live-search="true" data-live-search-placeholder="Search ..."#}
                    {#                                class="select2" id="mySelect2" style="width: 100%">#}
                    {#                            <option>Alerts</option>#}
                    {#                            <option>Badges</option>#}
                    {#                            <option>Buttons</option>#}
                    {#                            <option>Cards</option>#}
                    {#                            <option>Forms</option>#}
                    {#                            <option>Modals</option>#}
                    {#                        </select>#}
                    {#                    </div>#}


                    {#                    <div class="">#}
                    {#                    <select class="form-control select">#}
                    {#                        <option>Alerts</option>#}
                    {#                        <option>Badges</option>#}
                    {#                        <option>Buttons</option>#}
                    {#                        <option>Cards</option>#}
                    {#                        <option>Forms</option>#}
                    {#                        <option>Modals</option>#}
                    {#                    </select>#}
                    {#                    </div>#}

                    {#                    <div class="col">#}
                    {#                        <div class="form-group">#}
                    {#                            <label for="id_cliEmail">Email</label>#}
                    {#                            {{ form.cliEmail|add_class:"form-control"|attr:'placeholder:name@example.com' }}#}
                    {#                            <input type="email" class="form-control" id="exampleFormControlInput1"#}
                    {#                                   placeholder="name@example.com">#}
                    {#                        </div>#}
                    {#                    </div>#}

                    <div class="col-6">

                        {#                        {{ form.cliEstado|add_class:"custom-control-input"|attr:'checked' }}#}
                        {#                        <label>Hola</label>#}

                        {{ form.cliEstado|attr:'checked'|attr:'type:hidden'|attr:'value:True' }}


                        {#                        <div class="custom-control custom-checkbox">#}
                        {#                            {{ form.cliEstado|add_class:"custom-control-input"|attr:'checked' }}#}
                        {#                            {{ form.cliEstado|add_class:"custom-control-input"|attr:'checked' }}#}
                        {#                            <label class="custom-control-label" for="id_cliEstado">Estado</label>#}
                        {#                        </div>#}


                    </div>

                    <div class="col-6">

                        <div class="custom-control ">
                            {% ifequal action "add" %}
                                {{ form.usuaReg|attr:'type:hidden'|attr:'value:1' }}
                                {{ form.usuaMod|attr:'type:hidden' }}
                                {{ form.usuaEli|attr:'type:hidden' }}
                            {% endifequal %}
                            {% ifequal action "edit" %}
                                {{ form.usuaReg|attr:'type:hidden' }}
                                {{ form.usuaMod|attr:'type:hidden'|attr:'value:1' }}
                                {{ form.usuaEli|attr:'type:hidden' }}
                            {% endifequal %}



                            {#                            {{ form.usuaMod|attr:'type:hidden'|attr:'value:1' }}#}
                            {#                            {{ form.usuaEli|attr:'type:hidden'|attr:'value:1' }}#}
                            {#                            <label class="custom-control-label" for="id_cliEstado">Estado</label>#}
                        </div>


                    </div>

                </div>

                {#                <div class="row">#}
                {#                    <div class="col-md-6" style="width: 100%">#}
                {#                        <div class="form-group">#}
                {#                            <label for="exampleFormControlSelect1">Example select</label>#}
                {#                            <select class="form-control mySelect2" id="exampleFormControlSelect1">#}
                {#                                <option>1</option>#}
                {#                                <option>2</option>#}
                {#                                <option>3</option>#}
                {#                                <option>4</option>#}
                {#                                <option>5</option>#}
                {#                            </select>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}
                <div class="text-right">
                    <button class="btn btn-info" type="submit"> Guardar</button>
                    {#                <a type="button" class="btn btn-danger"role="button" aria-pressed="true">Cancelar</a>#}
                    <a href="{{ list_url }}" class="btn btn-danger" role="button" aria-pressed="true">Cancelar</a>
                    {#                <button class="btn btn-danger" type="submit"> </button>#}

                </div>
            </div>


        </div>


    </form>


{% endblock %}

{% block javascript %}
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>

    {#<script src="{% static 'lib/assets/vendor/select2/dist/js/select2.min.js' %}"></script>#}

    {#    <script src="{% static 'js/insumo/insumo/list.js' %}"></script>#}
    <script>

        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}

        {#$("input[name='insPrecio']").TouchSpin({#}
        {#    min: 0,#}
        {#    max: 1000,#}
        {#    step: 1,#}
        {#    decimals: 2,#}
        {#    boostat: 5,#}
        {#    maxboostedstep: 10,#}
        {#postfix: '%'#}


        $("input[name='insPrecio']").mask('000.000.000.000.000.00', {reverse: true});
        {#    solo cuando envio con ajax#}
        $('form').on('submit', function (e) {
            e.preventDefault();
            {#console.log('hola');#}
            var parameters = new FormData(this);
            {#console.log(parameters.insPrecio);#}
            {#console.log(parameters);#}
            {#parameters.set('insImagen'['name'],'ma.jpg');#}
            {#console.log(parameters.'insImagen']['name']);#}
            console.log(parameters.get('insImagen')['name']);

            parameters.forEach(function (value, key) {
                console.log(key + ':' + value);
            });
            submit_with_ajax(window.location.pathname, 'Notification', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
                location.href = '{{ list_url }}';
            });
        });

        $('#id_insImagen').on('change', function () {
            filePreview(this);
        });

        $('.mySelect2').select2({
            {#theme: 'bootstrap4',#}
            {#theme: "classic",#}
            dropdownAutoWidth: true,


            {#dropdownParent: $('#conte'),#}
            width: 'auto',
            {#languaje:'es',#}
            placeholder: 'Seleccione una opcion',


            {#theme: 'bootstrap4',#}
        });
        /*$('#exampleFormControlSelect2').select2({
            {#theme: 'bootstrap4',#}
            theme: "classic",
            dropdownAutoWidth: true,

            {#dropdownParent: $('#conte'),#}
            width: 'auto',
            {#theme: 'bootstrap4',#}
        });*/
    </script>

    {#    <script src="{% static 'js/insumo/insumo/list.js' %}"></script>#}
{% endblock %}
