{% extends 'base/body.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}

    {#    <script src="{% static 'lib/plugins/jquery/jquery.min.js' %}"></script>#}
    {#    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">#}
    {#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">#}
    {##}
    {#    <script type="text/javascript" charset="utf8"#}
    {#            src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>#}
    {#    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>#}
    <!-- Datatables -->
    <link rel="stylesheet" href="{% static 'lib/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'lib/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'lib/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}">



{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title p-0">Titulo</h2>
            <div class="row">

                <div class="table-responsive py-4">
                    <table class="table table-flush" id="table_id">
                        <thead class="thead-light">
                        <tr>
                            <th>N</th>
                            <th>Nombre</th>
                            <th>Accion</th>

                        </tr>
                        </thead>
                        {#                        <tfoot>#}
                        {#                        <tr>#}
                        {#                            <th>N</th>#}
                        {#                            <th>Nombre</th>#}
                        {#                            <th>Accion</th>#}
                        {##}
                        {#                        </tr>#}
                        {#                        </tfoot>#}
                        <tbody>
                        {#                        {% for object in object_list %}#}
                        {#                            <tr>#}
                        {#                            <td>{{ object.catDescripcion }}</td>#}
                        {#                            <td>{{ object.catEstado }}</td>#}
                        {#                            </tr>#}
                        {##}
                        {#                        {% endfor %}#}

                        </tbody>
                    </table>
                </div>
            </div>
{#            <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest">#}
{#                <i class="fas fa-plus"></i> Nuevo registro#}
{#            </a>#}
            <a style="color: white" class="btn btn-primary btn-flat btnAdd">
                <i class="fas fa-plus"></i> Nuevo registro
            </a>
            <!-- Button trigger modal -->
{#            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalCategoria">#}
{#                Launch demo modal#}
{#            </button>#}
        </div>
    </div>


{% endblock %}

{% block javascript %}



    <!-- Modal -->


    <script src="{% static 'lib/assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
    {#funcion del datatable#}
    <script src="{% static 'js/insumo/medida/list.js' %}"></script>


    <div class="modal fade" id="myModalMedida" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <form method="post" action="." enctype="multipart/form-data" id="form_ID">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Medida</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <input name="action" type="hidden" value="add">
                            <input name="user1" id="user1" type="hidden" value="1">
                            <input name="id" id="id" type="hidden" value="0">
                            <div class="form-group">
                                <label for="id_medDescripcion">Nombre:</label>

                                {{ form.medDescripcion|add_class:"form-control" }}
{#                                {{ form.catFecReg }}#}
{#                                {{ form.catFecMod }}#}
                            </div>
                            <div class="col-6">

                                {{ form.medEstado|attr:'checked'|attr:'type:hidden'|attr:'value:True' }}

                                {% ifequal action "add" %}
                                    {{ form.usuaReg|attr:'type:hidden'|attr:'value:1' }}
                                    {{ form.usuaMod|attr:'type:hidden' }}
                                    {{ form.usuaEli|attr:'type:hidden' }}
                                {% endifequal %}
                                {% ifequal action "edit" %}
                                    {{ form.usuaReg|attr:'type:hidden' }}
                                    {{ form.usuaMod|attr:'type:hidden'|attr:'value:1' }}
                                    {{ form.usuaEli|attr:'type:hidden' }}
                                {% endifequal %}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
{% endblock %}
