{#{% extends 'base/body.html' %}#}
{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}


    <link rel="stylesheet" href="{% static 'lib/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'lib/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'lib/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}">


    {#    Dropzone#}
    {#    <script src="{% static 'lib/dropzone-5.7.0/dist/min/dropzone.min.css' %}"></script>#}

    {#    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>#}
    {#    touchspin para numero#}
    {#    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>#}
    {#    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>#}
{% endblock %}
{% block content %}
    <form method="post" action="." enctype="multipart/form-data">

        <div class="card">
            <div class="card-body">

                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">

                <div class="row">
                    <div class="col-xl-8">
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        {#                                        <h3 class="mb-0">Insumos</h3>#}
                                        <h2 class="">{{ title }}</h2>
                                    </div>
                                </div>
                            </div>


                            <div class="card-body">

                                {#                                <div class="pl-lg-4">#}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Busqueda de Insumo:</label>
                                            <div class="input-group">
                                                <select class="form-control select2" style="width: 100%;" name="search">
                                                </select>
                                                {#                                                <input type="email" class="form-control" name="search"#}
                                                {#                                                       id="exampleFormControlInput1"#}
                                                {#                                                       placeholder="Escriba el nombre del producto">#}
                                                {#                                                <span class="input-group-append">#}
                                                {#                                                    <button type="button" class="btn btn-danger btn-flat btnClearSearch"><i#}
                                                {#                                                class="fas fa-times"></i></button>#}
                                                {#                                                </span>#}

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-danger btnRemoveAll">
                                            <i class="fas fa-trash"></i> Eliminar todos mis items

                                        </button>

                                    </div>
                                    <hr>

                                </div>
                                {#                                <hr>#}
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <!-- Projects table -->
                                            <table class="table align-items-center table-flush" id="tblInsumos">
                                                <thead class="thead-light text-center">
                                                <tr>
                                                    <th scope="col">Eliminar</th>
                                                    <th scope="col">Insumo</th>
                                                    <th scope="col">U. Medida</th>
                                                    <th scope="col">P. Compra</th>
                                                    <th scope="col">Cantidad</th>
                                                    <th scope="col">Subtotal</th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                                {#                                </div>#}

                            </div>


                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-header border-0">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="mb-0">Datos de Compra</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    {#                                    <div class="col-lg-12">#}
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Fecha de Registro:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="ni ni-calendar-grid-58"></i></span>
                                                </div>
                                                {#                                                <input class="form-control " placeholder="Select date"#}
                                                {#                                                       type="text" value="06/20/2020">#}
                                                {{ form.ccoFecCom }}
                                            </div>


                                        </div>
                                    </div>


                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">Proveedor:</label>

                                            {{ form.proveedor| add_class:'form-control mySelect2' }}
                                        </div>

                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="id_ccoVendedor">Expendedor:</label>

                                            {{ form.ccoVendedor }}
                                        </div>

                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="id_ccoCedVend">Cedula Expendedor:</label>

                                            {{ form.ccoCedVend }}
                                        </div>

                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="id_ccoCedVend">Documento:</label>
                                            <br>


                                            {{ form.ccoDocumento|add_class:'custom-file-input' }}




                                            {#                                            {{ form.ccoDocumento|add_class:'form-control-file' }}#}
                                            {#                                            <div class="custom-file">#}
                                            {#                                                <input type="file" class="custom-file-input" id="customFileLang"#}
                                            {#                                                       lang="en">#}
                                            {#                                                 {{ form.ccoDocumento|add_class:'custom-file-input' }}#}
                                            {#                                                <label class="custom-file-label" for="id_ccoDocumento">Select#}
                                            {#                                                    file</label>#}
                                            {#                                            </div>#}

                                        </div>


                                    </div>


                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Subtotal:</label>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" value="0.0" name="subtotal"
                                                   id="example-text-input" disabled>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        {#                                        <div class="form-group">#}
                                        {#                                            <label for="example-text-input" class="form-control-label">Iva:</label>#}
                                        {##}
                                        {#                                        </div>#}
                                    </div>
                                    <div class="col-lg-6">
                                        {#                                        <div class="form-group">#}

                                        {#                                            <input class="form-control" type="text" value="0.0" name="iva"#}
                                        {#                                                   id="example-text-input">#}
                                        {{ form.ccoIva }}
                                        {#                                        </div>#}
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Iva:</label>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">

                                            <input class="form-control" type="text" value="0.0" name="ivacalc"
                                                   id="example-text-input" disabled>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Total a
                                                Pagar:</label>

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">

                                            <input class="form-control" type="text" value="0.0" name="total"
                                                   id="example-text-input" disabled>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                        <span class="alert-text"><strong>Danger!</strong> Ha ocurrido un error</span>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {% endif %}


                <div class="row">


                    <div class="col-6">

                        {{ form.cliEstado|attr:'checked'|attr:'type:hidden'|attr:'value:True' }}


                    </div>

                    <div class="col-6">

                        <div class="custom-control ">
                            {% ifequal action "add" %}
                                {{ form.usuaReg|attr:'type:hidden'|attr:'value:1' }}
                                {{ form.usuaMod|attr:'type:hidden' }}
                                {{ form.usuaEli|attr:'type:hidden' }}
                            {% endifequal %}
                            {% ifequal action "edit" %}
                                {{ form.usuaReg|attr:'type:hidden' }}
                                {{ form.usuaMod|attr:'type:hidden'|attr:'value:1' }}
                                {{ form.usuaEli|attr:'type:hidden' }}
                            {% endifequal %}


                        </div>


                    </div>

                </div>
                <div class="text-right">
                    <button class="btn btn-primary" type="submit"> Guardar</button>
                    {#                <a type="button" class="btn btn-danger"role="button" aria-pressed="true">Cancelar</a>#}
                    <a href="{{ list_url }}" class="btn btn-danger" role="button" aria-pressed="true">Cancelar</a>
                    {#                <button class="btn btn-danger" type="submit"> </button>#}

                </div>
            </div>


        </div>


    </form>


{% endblock %}

{% block javascript %}
    {#    convierto de django a python#}



    <script src="{% static 'lib/assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>




    {#funcion del datatable#}

    {#    libreria moment fechas#}
    <script src="{% static 'lib/assets/vendor/moment.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/bootstrap-datetimepicker.js' %}"></script>
    {#    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>#}
    {#    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>#}
    {#    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>#}

    {#    para busqueda#}
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

    {#    para numero#}

    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>


    {#    Dropzone#}
    {#    <script src="{% static 'lib/assets/vendor/dropzone/dist/min/dropzone.min.js' %}"></script>#}
    {#    <script src="{% static 'lib/dropzone-5.7.0/dist/min/dropzone.min.css' %}"></script>#}
    {#    <script src="{% static 'lib/dropzone-5.7.0/dist/dropzone.js' %}"></script>#}

    <script src="{% static '/lib/assets/vendor/dropzone/dist/min/dropzone.min.js' %}"></script>


    <script src="{% static 'js/compra/form.js' %}"></script>

    <script>

        {#var det = {{ det|safe }};#}
        {#        para editar#}
        comp.items.insumos = {{ det|safe }};
        {#console.log('jo');#}
        {#console.log(det);#}

        {#submit_with_aja();#}
        {#submit_with_ajax(window.location.pathname, 'Notification', '¿Estas seguro de realizar la siguiente acción?', paramet);#}


    </script>

    <script>
        $(document).ready(function () {
            $('#id_ccoCedVend').mask('0000000000000');


            {#$('#id_proTelefono').mask('0000000000');#}

        });
    </script>
{% endblock %}
