{% extends 'base/body.html' %}
{% load static %}
{% block head %}


    <link rel="stylesheet" href="{% static 'lib/assets/vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'lib/assets/vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'lib/assets/vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css' %}">



{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h2 class="card-title p-0">Ventas</h2>
            <div class="row">

                <div class="table-responsive py-4 ">
                    <table class="table table-flush align-items-center" id="table_id">
                        <thead class="thead-light">
                        <tr>
                            <th>Id</th>
                            <th>Cliente</th>
                            <th>Fecha</th>
                            <th>Subtotal</th>
                            {#                            <th>Imagen</th>#}
                            <th>Iva</th>
                            <th>Total</th>
                            <th>Accion</th>


                        </tr>
                        </thead>
                        {#                        <tfoot>#}
                        {#                        <tr>#}
                        {#                            <th>Id</th>#}
                        {#                            <th>Nombre</th>#}
                        {#                            <th>Apellido</th>#}
                        {#                            <th>Ruc</th>#}
                        {#                            <th>Telefono</th>#}
                        {#                            <th>Accion</th>#}
                        {##}
                        {#                        </tr>#}
                        {#                        </tfoot>#}
                        <tbody>
                        {#                        {% for object in object_list %}#}
                        {#                            <tr>#}
                        {#                                <td>{{ object.cliApellido }}</td>#}
                        {#                                <td>{{ object.cliApellido }}</td>#}
                        {#                                <td>{{ object.cliApellido }}</td>#}
                        {#                                <td>{{ object.catEstado }}</td>#}
                        {#                            </tr>#}
                        {##}
                        {#                        {% endfor %}#}

                        </tbody>
                    </table>
                </div>
            </div>
            <a href="{{ create_url }}" class="btn btn-primary btn-flat btnTest">
                <i class="fas fa-plus"></i> Nuevo registro
            </a>
            <a href="{{ list_url }}" class="btn btn-success btn-flat">
                <i class="fas fa-sync"></i> Actualizar
            </a>
        </div>
    </div>


{% endblock %}

{% block javascript %}
    <script src="{% static 'lib/assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'lib/assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
    {#funcion del datatable#}
    <script src="{% static 'js/venta/list.js' %}"></script>
    {#    <script>#}
    {#    $(function () {#}
    {#        $('#table_id').DataTable();#}
    {##}
    {#    });#}
    {#    </script>#}

    <div class="modal fade" id="myModelDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b><i class="fas fa-shopping-cart"></i> Consulta de
                        detalle de productos</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive py-4">
                        <table class="table table-bordered" id="tblDet">
                            <thead class="thead-light">
                            <tr>
                                <th>Producto</th>
                                <th>Imagen</th>
                                <th>PVP</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            {#$(".nav li").on("click", function () {#}
                $(".itemNav").find(".marco").addClass("show");
                {#$(".itemNav").find(".marco").addClass("show");#}
                $(".itemNav a").attr("aria-expanded","true");
                {#$(this).addClass("activa");#}

        });
    </script>
{% endblock %}
