{#{% extends 'base/body.html' %}#}
{#{% load static %}#}
{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <form method="post" action="." enctype="multipart/form-data">

        <div class="card">
            <div class="card-body">
                <h2 class="card-title p-0">{{ title }}</h2>
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">

                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span class="alert-icon"><i class="ni ni-like-2"></i></span>
                        <span class="alert-text"><strong>Danger!</strong> Ha ocurrido un error</span>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {% endif %}

                <div class="row" wfd-id="14">
                    <div class="col-xl-3 order-xl-1" wfd-id="56">
                        <div class="card card-profile" wfd-id="57">
                            <img src="{% static 'lib/assets/img/theme/img-1-1000x600.jpg' %}" alt="Image placeholder"
                                 class="card-img-top">
                            <div class="row justify-content-center" wfd-id="78">
                                <div class="col-lg-3 order-lg-2" wfd-id="79">
                                    <div class="card-profile-image" wfd-id="80">
                                        {#                                        <a href="#">#}
                                        {#                                        <img src="{% static 'lib/assets/img/theme/team-4.jpg' %}"#}
                                        {#                                             class="rounded-circle">#}

                                        {% if object.image %}
                                            {#                                             <img src="{{ object.image.url }}"#}
                                            {#                                                 class="img-fluid img-center img-thumbnail rounded-circle ">#}
                                            <img src="{{ object.image.url }}"
                                                 style="height: 150px; width: 250px"
                                                 class="rounded-circle cambiar">
                                            {#                                                                                <img src="{% static 'lib/assets/img/theme/team-4.jpg' %}"#}
                                            {#                                                                                     class="rounded-circle">#}
                                        {% else %}
                                            <img src="{% static 'img/empty.png' %}"
                                                 style="height: 150px; width: 250px"
                                                 class="rounded-circle cambiar">

                                        {% endif %}
                                        {#                                        </a>#}
                                    </div>
                                </div>
                            </div>
                            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4" wfd-id="76">
                                <div class="d-flex justify-content-between" wfd-id="77">
                                    {#                                    <a href="#" class="btn btn-sm btn-info  mr-4 ">Connect</a>#}
                                    {#                                    <a href="#" class="btn btn-sm btn-default float-right">Message</a>#}
                                </div>
                            </div>

                            <div class="card-body pt-0" wfd-id="58">
                                <div class="row" wfd-id="64">
                                    <div class="col" wfd-id="65">
                                        <div class="card-profile-stats d-flex justify-content-center" wfd-id="66">
                                            {#                                            <div wfd-id="73">#}
                                            {#                                                <span class="heading" wfd-id="75">22</span>#}
                                            {#                                                <span class="description" wfd-id="74">Friends</span>#}
                                            {#                                            </div>#}
                                            {#                                            <div wfd-id="70">#}
                                            {#                                                <span class="heading" wfd-id="72">10</span>#}
                                            {#                                                <span class="description" wfd-id="71">Photos</span>#}
                                            {#                                            </div>#}
                                            {#                                            <div wfd-id="67">#}
                                            {#                                                <span class="heading" wfd-id="69">89</span>#}
                                            {#                                                <span class="description" wfd-id="68">Comments</span>#}
                                            {#                                            </div>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center" wfd-id="59">
                                    <div id="files">

                                        {{ form.image|add_class:"custom-file-input" }}
                                    </div>
                                    <input type="button" value="Subir Imagen" class="btn btn-primary"
                                           onclick="document.getElementById('id_image').click()">
                                    {#                                    <h5 class="h3">#}
                                    {#                                        Jessica Jones<span class="font-weight-light" wfd-id="63">, 27</span>#}
                                    {#                                    </h5>#}
                                    {#                                    <div class="h5 font-weight-300" wfd-id="62">#}
                                    {#                                        <i class="ni location_pin mr-2"></i>Bucharest, Romania#}
                                    {#                                    </div>#}
                                    {#                                    <div class="h5 mt-4" wfd-id="61">#}
                                    {#                                        <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim#}
                                    {#                                        Officer#}
                                    {#                                    </div>#}
                                    {#                                    <div wfd-id="60">#}
                                    {#                                        <i class="ni education_hat mr-2"></i>University of Computer Science#}
                                    {#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-9 order-xl-2" wfd-id="15">
                        <div class="card" wfd-id="16">
                            {#                            <div class="card-header" wfd-id="52">#}
                            {#                                <div class="row align-items-center" wfd-id="53">#}
                            {#                                    <div class="col-8" wfd-id="55">#}
                            {#                                        <h3 class="mb-0">Edit profile </h3>#}
                            {#                                    </div>#}
                            {#                                    <div class="col-4 text-right" wfd-id="54">#}
                            {#                                        <a href="#!" class="btn btn-sm btn-primary">Settings</a>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            <div class="card-body" wfd-id="17">
                                <form wfd-id="18">
                                    <h6 class="heading-small text-muted mb-4">Informacion del Usuario</h6>
                                    <div class="pl-lg-4" wfd-id="37">
                                        <div class="row" wfd-id="45">
                                             <div class="col-lg-6" wfd-id="42">
                                                <div class="form-group" wfd-id="43">
                                                    <label class="form-control-label" for="input-first-name"
                                                           wfd-id="44">Nombres</label>
                                                    {#                                                    <input type="text" id="input-first-name" class="form-control"#}
                                                    {#                                                           placeholder="First name" value="Lucky" wfd-id="149">#}
                                                    {{ form.first_name|add_class:'form-control'|attr:'autocomplete:off'  }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6" wfd-id="39">
                                                <div class="form-group" wfd-id="40">
                                                    <label class="form-control-label" for="input-last-name" wfd-id="41">Apellidos</label>
                                                    {#                                                    <input type="text" id="input-last-name" class="form-control"#}
                                                    {#                                                           placeholder="Last name" value="Jesse" wfd-id="148">#}
                                                    {{ form.last_name|add_class:'form-control'|attr:'autocomplete:off'  }}
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row" wfd-id="38">
                                           <div class="col-lg-6" wfd-id="49">
                                                <div class="form-group" wfd-id="50">
                                                    <label class="form-control-label" for="input-username" wfd-id="51">Usuario</label>
                                                    {#                                                    <input type="text" id="input-username" class="form-control"#}
                                                    {#                                                           placeholder="Username" value="lucky.jesse" wfd-id="151">#}
                                                    {{ form.username|add_class:'form-control'|attr:'autocomplete:off'  }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6" wfd-id="46">
                                                <div class="form-group" wfd-id="47">
                                                    <label class="form-control-label" for="input-email" wfd-id="48">Correo
                                                        Electrónico</label>
                                                    {#                                                    <input type="text" id="input-email" class="form-control"#}
                                                    {#                                                           placeholder="jesse@example.com" wfd-id="150"#}
                                                    {#                                                           kl_ab.original_type="email">#}
                                                    {{ form.email|add_class:'form-control'|attr:'autocomplete:off'  }}
                                                </div>
                                            </div>

                                            <div class="col-lg-6" wfd-id="39">
                                                <div class="form-group" wfd-id="40">
                                                    <label class="form-control-label" for="input-last-name" wfd-id="41">Contraseña</label>
                                                    {#                                                    <input type="text" id="input-last-name" class="form-control"#}
                                                    {#                                                           placeholder="Last name" value="Jesse" wfd-id="148">#}
                                                    {{ form.password|add_class:'form-control'|attr:'autocomplete:off'  }}
                                                </div>
                                            </div>
                                            <div class="col-lg-6" wfd-id="39">
                                                <div class="form-group" wfd-id="40">
                                                    <label class="form-control-label" for="input-last-name" wfd-id="41">Grupos</label>
                                                    {#                                                    <input type="text" id="input-last-name" class="form-control"#}
                                                    {#                                                           placeholder="Last name" value="Jesse" wfd-id="148">#}
                                                    {{ form.groups |attr:'autocomplete:off'  }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>

{#                                {% for field in form.visible_fields %}#}
{#                                    <div class="form-group">#}
{#                                        <label for="email">{{ field.label }}:</label>#}
{#                                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}#}
{#                                        {{ field }}#}
{#                                    </div>#}
{#                                {% endfor %}#}


                {#                <div class="row">#}
                {#                    <div class="col-6">#}
                {#                        <div class="form-group">#}
                {#                            <label for="id_cliNombre">Nombre:</label>#}
                {##}
                {#                            {{ form.cliNombre }}#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="col-6">#}
                {#                        <div class="form-group">#}
                {#                            <label for="id_cliApellido">Apellido:</label>#}
                {##}
                {#                            {{ form.cliApellido|add_class:"form-control" }}#}
                {#                            {{ form.cliApellido }}#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="col-6">#}
                {#                        <div class="form-group">#}
                {#                            <label for="id_cliRuc">Ruc:</label>#}
                {##}
                {#                            {{ form.cliRuc|add_class:"form-control" }}#}
                {#                            {{ form.cliRuc }}#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="col-6">#}
                {#                        <div class="form-group">#}
                {#                            <label for="id_cliTelefono">Telefono:</label>#}
                {##}
                {#                            {{ form.cliTelefono|add_class:"form-control"|attr:'type:text' }}#}
                {#                            {{ form.cliTelefono }}#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="col-6">#}
                {#                        <div class="form-group">#}
                {#                            <label for="id_cliDireccion">Direccion:</label>#}
                {##}
                {#                            {{ form.cliDireccion|add_class:"form-control" }}#}
                {#                            {{ form.cliDireccion }}#}
                {#                        </div>#}
                {#                    </div>#}
                {#                    <div class="col-6">#}
                {#                        <div class="form-group">#}
                {#                            <label for="id_cliGenero">Sexo</label>#}
                {##}
                {#                            {{ form.cliGenero|add_class:"form-control mySelect2" }}#}
                {##}
                {#                            </select>#}
                {#                        </div>#}
                {##}
                {#                    </div>#}
                {##}
                {#                    <div class="col">#}
                {#                        <div class="form-group">#}
                {#                            <label for="id_cliEmail">Email</label>#}
                {#                            {{ form.cliEmail|add_class:"form-control"|attr:'placeholder:name@example.com' }}#}
                {#                            {{ form.cliEmail }}#}
                {#                            <input type="email" class="form-control" id="exampleFormControlInput1"#}
                {#                                   placeholder="name@example.com">#}
                {#                        </div>#}
                {#                    </div>#}
                {##}
                {#                    <div class="col-6">#}
                {##}
                {#                        {{ form.cliEstado|add_class:"custom-control-input"|attr:'checked' }}#}
                {#                        <label>Hola</label>#}
                {##}
                {#                        {{ form.cliEstado|attr:'checked'|attr:'type:hidden'|attr:'value:True' }}#}
                {##}
                {##}
                {#                        <div class="custom-control custom-checkbox">#}
                {#                            {{ form.cliEstado|add_class:"custom-control-input"|attr:'checked' }}#}
                {#                            {{ form.cliEstado|add_class:"custom-control-input"|attr:'checked' }}#}
                {#                            <label class="custom-control-label" for="id_cliEstado">Estado</label>#}
                {#                        </div>#}
                {##}
                {##}
                {#                    </div>#}
                {##}
                {#                    <div class="col-6">#}
                {##}
                {#                        <div class="custom-control ">#}
                {#                            {% ifequal action "add" %}#}
                {#                                {{ form.usuaReg|attr:'type:hidden'|attr:'value:1' }}#}
                {#                                {{ form.usuaMod|attr:'type:hidden' }}#}
                {#                                {{ form.usuaEli|attr:'type:hidden' }}#}
                {#                            {% endifequal %}#}
                {#                            {% ifequal action "edit" %}#}
                {#                                {{ form.usuaReg|attr:'type:hidden' }}#}
                {#                                {{ form.usuaMod|attr:'type:hidden'|attr:'value:1' }}#}
                {#                                {{ form.usuaEli|attr:'type:hidden' }}#}
                {#                            {% endifequal %}#}
                {##}
                {##}
                {##}
                {#                            {{ form.usuaMod|attr:'type:hidden'|attr:'value:1' }}#}
                {#                            {{ form.usuaEli|attr:'type:hidden'|attr:'value:1' }}#}
                {#                            <label class="custom-control-label" for="id_cliEstado">Estado</label>#}
                {#                        </div>#}
                {##}
                {##}
                {#                    </div>#}
                {##}
                {#                </div>#}
                <div class="text-right">
                    <button class="btn btn-primary" type="submit"> Guardar</button>
                    {#                <a type="button" class="btn btn-danger"role="button" aria-pressed="true">Cancelar</a>#}
                    <a href="{{ list_url }}" class="btn btn-danger" role="button" aria-pressed="true">Cancelar</a>
                    {#                <button class="btn btn-danger" type="submit"> </button>#}

                </div>
            </div>


        </div>


    </form>


{% endblock %}

{% block javascript %}

    <script>

        $('#id_image').on('change', function () {
            filePreview(this);
        });

        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}
        {#    solo cuando envio con ajax#}
        $('form').on('submit', function (e) {
            e.preventDefault();
            {#console.log('hola');#}
            var parameters = new FormData(this);
            {#console.log(parameters);#}
            parameters.forEach(function (value, key) {
                console.log(key + ':' + value);
            });
            submit_with_ajax(window.location.pathname, 'Notification', '¿Estas seguro de realizar la siguiente acción?', parameters, function () {
                location.href = '{{ list_url }}';

            });

        });

    </script>

    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <script src="{% static 'js/user/form.js' %}"></script>

{% endblock %}
